@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/login.css" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    تسجيل الدخول
                </div>
                <div class="card-body">
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="mb-3">
                            <label asp-for="Input.Email" class="form-label">البريد الإلكتروني</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="أدخل بريدك الإلكتروني" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.Password" class="form-label">كلمة المرور</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="أدخل كلمة مرورك" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-check">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe" class="form-check-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    تذكرني
                                </label>
                            </div>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="btn btn-primary">تسجيل الدخول</button>
                        </div>
                        <div>
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword" class="btn btn-link">نسيت كلمة المرور؟</a>
                            </p>
                            <p class="card-footer text-center">
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">إنشاء حساب جديد</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}