@using Microsoft.AspNetCore.Identity
@using E_Mall.Areas.Identity.Data

@inject SignInManager<E_MallUser> SignInManager
@inject UserManager<E_MallUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var firstName = user?.FirstName ?? "User";

    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" title="Manage">مرحبا @firstName</a>
            <script>
                var displayMinutes = 1;
                var displayMilliseconds = displayMinutes * 60 * 1000;

                setTimeout(function() {
                    var element = document.getElementById("manage");

                    if (element) {
                        element.style.display = "none";
                    }
                }, displayMilliseconds);
            </script>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">خروج</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">تسجيل</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">دخول</a>
    </li>
}
</ul>
